@(calendarEntries: Seq[models.db.collections.DbCalendar])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("This is a public page") {

    <h1>Calendar Entries</h1>

    <table>
        <thead>
            <tr><th>Name</th><th>Date</th>
                <th>Positive Attribute</th><th>Positive Amount</th>
                <th>Negative Attribute</th><th>Negative Amount</th>
        </thead>
        <tbody>
        @for(u <- calendarEntries) {
                <tr>
                    <td>@u.username </td>
                    @for(sub <- u.CalendarEntry) {
                        <td>@sub.date</td>
                        <td>@sub.positiveAttribute</td>
                        <td>@sub.positiveAmount</td>
                        <td>@sub.negativeAttribute</td>
                        <td>@sub.negativeAmount</td>
                    }
                   </tr>
        }
</tbody>
</table>
    <ul>
        <li><a href=@routes.HomeController.index()>Home</a></li>
    </ul>
}