@()

@main("Welcome to Petebook") {
    <div class="container">
        <h1>Welcome to Petebook!</h1>

        <p>Here's a list of links for this app:</p>

        <ul>
            <li><a href=@routes.HomeController.index()>Home</a></li>
            <li><a href=@routes.HomeController.public()>Public page</a></li>
            <li><a href=@routes.HomeController.priv()>Private page (manual auth)</a></li>
            <li><a href=@routes.HomeController.privPlay()>Private page (play auth)</a></li>
            <li><a href=@routes.UsersController.userHome()>User's home page (requires auth)</a></li>
        </ul>
        <p>You will not be able to access the Private Pages unless you Login:</p>
        <ul>
            <li><a href=@routes.UsersController.userLogin()>User Login page</a></li>
            <li><a href=@routes.DatabaseController.addDbUser()>Register</a></li>
            <li><a href=@routes.HomeController.logout()>Logout</a></li>
        </ul>

        <p>Testing tools: </p>
        <ul>
            <li><a href=@routes.HomeController.login("Jot", "pswd")>Default Login</a></li>
            <li><a href=@routes.HomeController.login("user01", "pass02")>Login with incorrect pass</a></li>
            <li><a href=@routes.HomeController.login("random_user", "random_pass")>Login with unexisting user</a></li>
            <li><a href=@routes.WidgetController.listWidgets()>Widgets</a></li>
            <li><a href=@routes.CalendarController.allCalendarEntries()>Calendar db</a></li>
            <li><a href="@routes.DatabaseController.usersOfDb()">List db users</a></li>
        </ul>
    </div>
}
