@(user: User)

    @main("This is a private page") {
    <h1>This is a private page</h1>
    <p>Current user: <strong>@user.username</strong> </p>
    <ul>
        <li><a href=@routes.HomeController.index()>Home</a></li>
    </ul>
}
