@(form: Form[UserForm.UserRegistrationData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Register") {
    <h1>Sign up for Petebook</h1>
    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("username"))

        @helper.inputText(form("password"))

        @helper.inputText(form("Positive Attribute"))

        @helper.inputText(form("Negative Attribute"))

        <button>Register</button>
    }
    <ul>
        <li><a href=@routes.HomeController.index()>Home</a></li>
    </ul>
}