@(page: String, users: List[models.db.collections.DbUser])(implicit messages: Messages)

@main(page){
    <h1>Contents of Mongo DB <br> database collection</h1>
    @for(u <- users){
        <p>@u.username : @u.password</p>
        <p></p>
    }
    <ul>
        <li><a href=@routes.HomeController.index()>Home</a></li>
    </ul>
}