@(databaseUsers: Seq[models.db.collections.DbUser], form: Form[UserForm.UserLoginData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("This is a public page") {
    <div class="container">
        <h1>Current users</h1>

        @* Flash shows updates to a page *@
        @request.flash.data.map { case (username, password) =>
        <div>@username: @password</div>
        }

        <table>
            <thead>
                <tr><th>Name</th><th>Password</th>
            </thead>
            <tbody>
            @for(u <- databaseUsers) {
                <tr><td>@u.username</td>
                    <td>@u.password</td></tr>
            }
            </tbody>
        </table>

        <hr/>

        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    @error.key: @error.message
                </div>
            }
        }

        @helper.form(postUrl) {
            @helper.CSRF.formField

            @helper.inputText(form("username"))

            @helper.inputText(form("password"))

            <button>Enter site</button>
        }
        <ul>
            <li><a href=@routes.HomeController.index()>Home</a></li>
        </ul>
    </div>
}
