@import models.db.collections.DbCalendar
@(user: User, calendarEntries: Seq[DbCalendar])

@main("This is a private page") {
    <h1>This is a private page</h1>
    <p>Current user: <strong>@user.username</strong> </p>
    @for(entries <- calendarEntries){
        @if(user.username.equalsIgnoreCase(entries.username)){
            <p>Calendar info for @user.username
                <p><strong>@entries</strong> </p>
        }

    }

    <ul>
        <li><a href=@routes.HomeController.index()>Home</a></li>
    </ul>
}
